.menubar {
  width: max-content; /* width */
  height: max-content;
  position: fixed;
  bottom: 50%;
  left:0;
  background-color: gray; /* background */
}

.menubar a {
  display:block; /* side-by-side links */
  overflow:auto; /* display */
  position:relative; /* position */
  text-align: center; /* Center-aliging text */
  padding: 16px; /* Adding some padding */
  transition: all 0.2s ease; /* Add transition effects */
  color: white; /* text color */
  font-size: 36px; /* font-size */
}

.menubar a:hover {
  background-color: greenyellow; /* hover color */
  z-index: 100; /* Avoid overlap on hover */
}

.active {
  background-color:gray; /* active/current color */
}

@media screen and (min-width: 751px) {
  .menubar a {
    outline: 2px solid lightgray;
  }
}

@media screen and (max-width: 750px) {
  .menubar {
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    /* border-top-left-radius: 100%; */
    /* border-top-right-radius: 100%; */
  }
}