body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    background-color: gray;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
    max-width: 280px;
    margin: 0 auto;
}
.gallery-item {
    width: 48%; 
    margin-bottom: 20px;
    text-align: center;
}
.gallery-item img {
    width: 50px;
    height: auto;
    border-radius: 5px; 
}
.price {
    margin-top: 5px;
}
