body {
    margin: 0;
    font-family: Arial, sans-serif;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 241, 241);
    justify-content: space-around;
    /* align-items: center; */
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    justify-content: space-around;
    /* padding: 5px; */
    min-width: 280px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.25rem;
}
.gallery-item {
    text-align: center;
    /* margin: 0 auto; */
}
.gallery-item img {
    max-width: 165px;
    margin: 0.1rem;
    height: auto;
    border-radius: 5px; 
}
.price {
    margin-top: 5px;
}