@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

:root {
    --first-color: #000000;
    --second-color: #323232;
    --third-color: #ff1e56;
    --fourth-color: #ffac41;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, var(--first-color), var(--second-color));
    background-size: 400% 400%;
    color: white;
    justify-content: space-around;
    /* align-items: center; */
    animation: gradientBG 15s ease infinite;
}
@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    justify-content: space-around;
    /* padding: 5px; */
    min-width: 280px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1.25rem;
    gap: 0.5rem;
}
.gallery-item {
    text-align: center;
    margin-top: 1rem;
    border: 2px solid #ddd;
    transition: 0.3s ease, 0.3s ease;
    background-color: #2a2a2a;
    border-radius: 5px;
}

.gallery-item:hover {
    transform: scale(1.05);
    border-color: var(--fourth-color);
    box-shadow: 0 0 15px var(--third-color)(255, 0, 0, 0.6);
}


.image-container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    border-radius: 5px; 
    display: none; 
    justify-content: center;
    align-items: center;
}

a {
    color: red;
}

a:hover{
    color: white;
    transform: scale(1.2);
}

.overlay-content {
    color: white;
    text-align: center;
}

.gallery-item img {
    width: 175px;
    height: 175px;
    border-radius: 5px; 
    transition: box-shadow 0.3s ease-in-out;
}
.gallery-item img:hover {
    box-shadow: 0 0 40px var(--fourth-color)(0, 0, 0, 0.5); 
}
.item-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.heart {
    color: lightslategray;
    margin-right: 1rem;
    cursor: pointer;
    font-size: 2rem;
}
.red-heart {
    color: red;
}

.heart:hover, .red-heart:hover {
    transform: scale(1.2);
    color: #ff6666; 
}

.savings {
    font-style: bold;
    text-align: start;
    padding: 0px 4px;
}
.prices {
    display: flex;
    flex-direction: row;
    color: var(--fourth-color);
    padding: 0px 4px;
}
.normalPrice {
    text-decoration: line-through;
    margin-left: 5px;
    color: var(--third-color);
    padding: 0px 5px;
}

#game-name {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-style: bold;
    font-size: 18px;
}

#steam {
    font-family: 'Black Ops One', cursive;
    font-style: italic bold;
}

#deal {
    font-family: 'Black Ops One', cursive;
    font-style: italic bold;
}

#link1{
    font-style: italic;
}

#link2{
    font-style: italic;
}
