*{
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.nav-bar {
    display: grid;
    justify-content: center;
    padding: 1rem;
}

.card {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 20%);
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    padding: 10px;
}

@media (min-width: 768px) {
    grid-even-columns{
        grid-template-columns: repeat(2fr);
    }
}